<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Crossword puzzle TDD exercise.">
    <title>{% block title %}Crossword Exercise{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/clue.css' %}"/>
    {% endblock %}
  </head>

  <body>
    <!-- Begin page content -->
    <main role="main" class="container">
      {% block content %}
      <div class="clue-container">
        <div class="clue-header">
          <h1>Random Clue</h1>
        </div>
        <div class="clue-form">
          <div class="clue">
            <h3>{{display_clue.clue_text}}</h3>
            <p>Word Length: {{entry.entry_text|length}}</p>
            <p>From Puzzle: {{puzzle.title}}</p>
          </div>
          <form method="post" action="{% url 'xword_data:reveal_answer' entry.id display_clue.id puzzle.id%}">
            {% csrf_token %}
            <div class="form-group">
              <input class="form-control" type="text" name="guess" id="_guess"/>
              <div class="clue-submit-button">
                <input class="btn btn-outline-warning" type="submit" id="submit-guess" value="Answer"/>
              </div>
              <br/>
              <div class="escape-hatch">
                <button class="btn btn-secondary" id="reveal-button"><a href="{% url 'xword_data:escape-hatch' %}" id="escape-hatch">Reveal</a></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="message-alert">
        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      </div>
      {% endblock %}
    </main>
  </body>
</html>
